<!-- <ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="imagen">
      <img src="assets/img/fondo4.png" class="img-fluid imagen-fondo">
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 col-10">
        <button class="btn btn-primary btn-lg btn-block" routerLink="/tabs/list-User">
          <img src="assets/img/equipo.png" class="boton-imagen">
          <div class="boton-titulo">Personal</div> 
        </button>
      </div>
      <div class="col-md-4 col-10">
        <button class="btn btn-success btn-lg btn-block" routerLink="/tabs/mis-casas">
          <img src="assets/img/prediccion.png" class="boton-imagen">
          <div class="boton-titulo">Predicción</div>
        </button>
      </div>
      <div class="col-md-4 col-10">
        <button class="btn btn-warning btn-lg btn-block" routerLink="/tabs/registros">
          <img src="assets/img/pacientes.png" class="boton-imagen">
          <div class="boton-titulo">Registros</div>
        </button>
      </div>
    </div>
  </div>
</ion-content> -->










<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imagen">
    <img src="assets/img/fondo4.png" class="img-fluid imagen-fondo">
  </div>

  <ion-grid class="container">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-md="4" size="10">
        <button class="btn btn-primary btn-lg btn-block" routerLink="/tabs/list-User">
          <div class="button-content">
            <img src="assets/img/equipo.png" class="boton-imagen">
            <div class="boton-titulo">Personal</div>
          </div>
        </button>
      </ion-col>
      <ion-col size-md="4" size="10">
        <button class="btn btn-success btn-lg btn-block" routerLink="/tabs/mis-casas">
          <div class="button-content">
            <img src="assets/img/prediccion.png" class="boton-imagen">
            <div class="boton-titulo">Predicción</div>
          </div>
        </button>
      </ion-col>
      <ion-col size-md="4" size="10">
        <button class="btn btn-warning btn-lg btn-block" routerLink="/tabs/registros">
          <div class="button-content">
            <img src="assets/img/pacientes.png" class="boton-imagen">
            <div class="boton-titulo">Registros</div>
          </div>
        </button>
      </ion-col>
      <ion-col size-md="4" size="10">
        <button class="btn btn-danger btn-lg btn-block" routerLink="/tabs/paciente">
          <div class="button-content">
            <img src="assets/img/pacientes.png" class="boton-imagen">
            <div class="boton-titulo">Registrar</div>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




