

// .background-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
// }

// .contenedor-principal {
//   position: relative;
//   top: 30% ;
//   left: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   transform: translate(-50%, -50%);
// }
// .spinner-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }


// .contenido {
//   position: relative;
// }

// .logo {
//   width: 80px;
//   margin: auto;
// }

// .logo img {
//   width: 100%;
//   height: 80px;
//   object-fit: cover;
//   border-radius: 50%;
//   box-shadow: 0px 0px 3px #5f5f5f,
//       0px 0px 0px 5px #ecf0f3,
//       8px 8px 15px #a7aaa7,
//       -8px -8px 15px #fff;
// }














.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.contenedor-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.loader {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  margin-top: 10px;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #40409F;
  animation: progress 2s linear forwards;
  left: 0; 
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#progressText {
  text-align: center;
  margin-top: 10px;
  color:  #007bff;
}
.logo {
  width: 100px; 
  margin: auto;
}
.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f,
      0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #a7aaa7,
      -8px -8px 15px #fff;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinking {
  animation: blink 1s infinite;
}
#typed-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(20) forwards;
}