<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/registros"></ion-back-button>
    </ion-buttons>
    <ion-title>Registros Medicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="medico">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ medico.nombre }} {{ medico.apellido }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Correo Electrónico: {{ medico.correoElectronico }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Número de Celular: {{ medico.numero_celular }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>CI: {{ medico.ci }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Especialidad: {{ medico.especialidad }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Rol: {{ medico.rol }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Hospital: {{ medico.hospital }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
